<jce-invoice-form (invoiceAddedEvent) = "addinvoice($event)"> </jce-invoice-form>
<jce-spinner [visible] = "isLoading"></jce-spinner>
<div>
  <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
  <ul class="list-group invoices"> 
    
    <li *ngFor = "let invoice of invoices" 
         [class.active]="currentInvoice == invoice"
         (click) = "select(invoice)" 
          class="list-group-item" >
        <!--> <jce-invoice [invoice]= "invoice"
         (deleteEvent) = "deleteInvoice($event)"></jce-invoice>     <!-->
         <jce-invoice [invoice] = invoice (deleteEvent) = "deleteInvoice($event)" invoice (editEvent) = "updateInvoice($event)"></jce-invoice>

            <ul>
         <li *ngFor = "let title of invoice.posTitles">
            {{(title | async)?.title}}
          </li>
        </ul>    


    </li>
  </ul>
</div>