<!-- <p>
  products works!
</p> -->
<div>
  <h3>Products list:</h3>
   <table border="1" class="eden" >
        <tr>
          <th style= 10px>Pid</th>
          <th style= 10px>Pname</th>
          <th>Cost</th>
          <th>CategoryId</th>
           <th>delete</th>
        </tr>
      
        <tr  *ngFor = "let product of products"  >
         <td> {{product.pid}} </td>
           <td> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
           <td> {{product.categoryId}} </td>
 <jce-product [product] = product (deleteEvent) = "deleteProduct($event)" ></jce-product>
          
     </tr>
  </table>
</div>
<!-- <p>
  products works!
</p> -->


<br>
<br>
<br>
<br><br>

<div>




   <table border="1" class="eden" >
        <tr>
          <th style= 10px>Pid</th>
          <th style= 10px>Pname</th>
          <th>Cost</th>
          <th>Category name</th>
           <th>delete</th>
        </tr>
      
        <tr  *ngFor = "let product of products"  >
         <td> {{product.pid}} </td>
           <td> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
            <td *ngFor = "let name of product.categoryName">
           {{(name | async)?.name}}</td>
 <jce-product [product] = product (deleteEvent) = "deleteProduct($event)" ></jce-product>
          
     </tr>
  </table>
</div>

