 
 <span *ngIf = "!isEdit" >Name: {{invoice.name}}, Amount: {{invoice.amount}}</span>
 <span *ngIf = "isEdit">
     Name: <input type = "text" [(ngModel)] = "invoice.name"> 
     Amount: <input type = "text" [(ngModel)] = "invoice.amount">
 </span>
 <button (click) = "toggleEdit()" >{{editButtonText}}</button>
 <button (click) = "sendDelete()" >Delete</button>
